*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
}

hr{
    border:2px solid #616161;
}

span{
    cursor: pointer;
    display: inline-block;
}
.header-div-blank{
    height: 30px;
    background-color: #373737;
    margin: 0 auto;
}

.header-div-title{
    font-size: 1.2rem;
    font-weight: 900;
    background-color: #616161;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    
}

.main-input-text{
    width: 100%;
    height: 50px;
    font-size:1.3rem;
    margin: 0 auto;
    display: block;
}

.main-div{
    background-color: #efefef;
    overflow: scroll;
    margin: 0 auto;
    display: block;
    padding: 5%;
    height: 650px;
}

.span-list-object{
    width: 75%;
    font-size: 1.2rem;
}
.span-list-object:hover{
    background-color:#cfd8dc;
    transition: all 1s;
}
.span-list{
    font-size: 1.2rem;
    font-weight: 900;
    width: 5%;
    padding:0;
    margin: 0;
    text-align: center;
}
.span-list:hover{
    background-color:#cfd8dc;
    transition: all 1s;
}

.footer-div-end{
    height: 30px;
    background-color: #373737;
    margin: 0 auto;
}